<footer>
  <div class="d-flex justify-content-around">
    <a href="https://www.themoviedb.org" target="_blank">
      <img src="assets/tmdb-logo.png" alt="powered by themoviedb.org"/>
    </a>
    <span class="align-self-end text-center">NgMovies Dummy App. All rights reserved.</span>
    <div class="align-self-center">
      <a href="https://github.com/darknath10" target="_blank" class="mr-3">
      <i class="fa fa-github fa-2x" title="github" style="color:#ddd"></i>
    </a>
    <a href="https://il.linkedin.com/in/nathan-preel-8ba6339a" target="_blank" >
      <i class="fa fa-linkedin-square fa-2x" title="linkedin" style="color:#ddd"></i>
    </a>
    </div>
  </div>
</footer>