<div *ngIf="screen.isLarge(); else elseBlock" class="movie-card">
  <div class="movie-card-poster">
    <img [src]="movie.poster_path" [alt]="movie.title" />
  </div>
  <div class="movie-card-body">
    <div class="movie-card-body-header">
      <a href="#" [title]="movie.title">{{movie.title | uppercase}}</a>
      <span>{{movie.vote_average}} <i class="fa fa-star"></i></span>
    </div>
    <div class="movie-card-body-footer">
      <button type="button" class="btn btn-info btn-block">Details</button>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="card mt-4">
    <img class="card-img-top img-fluid" [src]="movie.backdrop_path" [alt]="movie.title" />
    <div class="card-block">
      <h5>{{movie.title | uppercase}}</h5>
      <p class="card-text">{{movie.tagline}}</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-info btn-block">Details</button>
    </div>
  </div>
</ng-template>