.movie-card {
  max-height: 278px;
  background-color: #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
}

.movie-card > img {
  max-height: inherit;
  width: auto;
}

.movie-card-body-header {
  max-width: 338.67px;
}

.movie-card-body-header a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card-body-meta em {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card-body p {
  max-height: 37%;
  overflow: hidden;
}