<div *ngIf="screen.isLarge(); else elseBlock">
  <div class="container-fluid p-0">
    <div class="card card-inverse">
      <img class="card-img movie-bd" [src]="movie.backdrop_path" [alt]="movie.title" />
      <div class="card-img-overlay my-5">
        <div class="container">
          <div class="media">
            <img class="d-flex align-self-start mr-4 img-thumbnail movie-poster" [src]="movie.poster_path" [alt]="movie.title" />
            <div class="media-body">
              <h2 class="mt-0">{{movie.title}}</h2>
              <span class="mr-5"><i class="fa fa-calendar"></i><em> {{movie.release_date | date:'shortDate'}}</em></span>
              <span class="d-inline-block"><i class="fa fa-clock-o"></i><em> {{movie.runtime}} mins</em></span>
              <br/><br>
              <h4>Overview</h4>
              <p>{{movie.overview}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="nav nav-tabs">
      <a class="nav-link" [routerLink]="['./']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trailer</a>
      <a class="nav-link" [routerLink]="['shows']" routerLinkActive="active">Shows</a>
      <a class="nav-link" [routerLink]="['edit']" routerLinkActive="active">Edit</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #elseBlock>
  <div class="container-fluid px-0">
    <div class="card">
      <img class="card-img-top img-fluid" [src]="movie.poster_path" [alt]="movie.title" />
      <div class="card-block">
        <h5>{{movie.title | uppercase}}</h5>
        <span class="mr-5"><i class="fa fa-calendar"></i><em> {{movie.release_date | date:'shortDate'}}</em></span>
        <span class="d-inline block"><i class="fa fa-clock-o"></i><em> {{movie.runtime}} mins</em></span>
        <br><br>
        <h6>Overview</h6>
        <p class="card-text">{{movie.overview}}</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-info btn-block">Shows</button>
      </div>
    </div>
  </div>
</ng-template>