<div>
  <button class="btn btn-primary" type="button" *ngIf="!addReviewMode && !userHasReview()" (click)="toggleAddReviewMode()">Add Review</button>
  <button class="btn btn-primary" type="button" *ngIf="addReviewMode" (click)="toggleAddReviewMode()">See Reviews</button>
</div>
<div *ngIf="!addReviewMode; else addReviewComp">
  <div *ngFor="let review of reviews">
    <review-card [review]="review"></review-card>
  </div>
</div>
<ng-template #addReviewComp>
  <add-review [movie]="movie" (submitNewReview)="addReview($event)" (cancelAddReview)="toggleAddReviewMode()"></add-review>
</ng-template>