<div class="container">
  <h3>Add a New Movie to the Catalog</h3>
  <form id="searchForm" class="mt-4" (ngSubmit)="search(term); searchForm.reset()" #searchForm="ngForm">
    <div class="form-group row">
      <label for="term" class="col-sm-2 col-form-label">Movie Title</label>
      <div class="col-sm-4">
        <input [(ngModel)]="term" name="term" type="text" class="form-control" id="term">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
  <div *ngIf="results">
    <div [ngClass]="{'container': screen.isLarge(), 'container-fluid': !screen.isLarge()}">
      <div class="row">
        <div class="col-md-6" [class.px-0]="!screen.isLarge()" *ngFor="let movie of results">
          <movie-card [movie]="movie">
            <button *ngIf="!isInDb(movie.id); else elseBlock" movie-card-btn-large type="button" class="btn btn-primary btn-block" (click)="addMovie(movie.id)">Add to Catalog</button>
            <button *ngIf="!isInDb(movie.id); else elseBlock" movie-card-btn-small type="button" class="btn btn-primary btn-block" (click)="addMovie(movie.id)">Add to Catalog</button>
            <ng-template #elseBlock>
              <em>Already in Catalog</em>
            </ng-template>
          </movie-card>
        </div>
      </div>
    </div>
  </div>
</div>