<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/movies">NgMovies</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies">Now Playing <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies/new">Add Movie</a>
      </li>
    </ul>
    <form #searchForm="ngForm" class="form-inline my-2 my-lg-0 mr-auto" (ngSubmit)="searchMovies(term); searchForm.reset()">
      <input [(ngModel)]="term" name="term" class="form-control mr-sm-2" type="text" placeholder="Search Movies">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" modal-trigger="movieSearchModal">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="!auth.currentUser" class="btn btn-outline-warning" routerLink="/user/register">Register</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!auth.currentUser" class="btn btn-outline-warning" routerLink="/user/login">Login</a>
        <a *ngIf="auth.currentUser" class="btn btn-outline-info mr-2" routerLink="/movies">Welcome {{auth.currentUser.username}}</a>
      </li>
      <li class="nav-item">
        <button *ngIf="auth.currentUser" class="btn btn-outline-danger" (click)="auth.logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<modal modalId="movieSearchModal" title="Matching Movies">
  <div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let movie of moviesResult" [routerLink]="['/movies', movie.id]">
      <div class="d-flex w-100 justify-content-start">
        <img [src]="movie.poster_path" [alt]="movie.title"/>
        <h5 class="align-self-center ml-auto mr-auto">{{movie.title | uppercase}}</h5>
      </div>
    </a>
  </div>
</modal>